#!/usr/bin/bash

#PARAMETROS PARA CONFIGURACION LOCAL
export PROJECT_PATH="/application.py"
export INSTALL=2                                                       #1 = Instalar, 2 = Actualizar y 3 = Instalar + Actualizar
export START=0
export FRESH_INSTALL=0
export SRC_PATH=$OpenDataQuality


#CREDENCIALES PARA SOCRATA
export SOCRATA_TOKEN="sC4N6wXghMXaL2C3uUxVMphf0"


